<div class='container'>
<h1>Edit Your Profile</h1>
<hr />

  <%= form_for @profile do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br />
    <%= f.label :gender %>
    <p>
     <input name="group1" type="radio" id="test4" />
     <label for="test4">Male</label>
    </p>
     <input name="group1" type="radio" id="test3" />
     <label for="test3">Female</label>
    </p>
    <%= f.label :interested_in_males %>
    <p>
     <input type="checkbox" id="test5" />
     <label for="test5">Males</label>
    </p>
    <%= f.label :interested_in_females %>
    <p>
     <input type="checkbox" id="test6" />
     <label for="test6">Females</label>
    </p>
    <br />
    <div class='waves-effect waves-light btn teal lighten-4'><%= f.submit %></div>
  <% end %>
<br />
<div class='waves-effect waves-light btn teal lighten-4'><%= link_to 'Go Back', user_profile_path(@user.id, @profile.id) %></div>
<hr />
<div class='waves-effect waves-light btn teal'><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
</div>
