<div class='container'>
<h1>Your Profile</h1>
<hr />
<h5>Name: <%= @profile.name %></h5>
<br />
<h5>Email: <%= @user.email %></h5>
<br />
<h5>Age: <%= @profile.age %></h5>
<br />
<h5>Gender: <%= @profile.gender %></h5>
<br />
<h5>Interested in males: <%= @profile.interested_in_males %></h5>
<br />
<h5>Interested in females: <%= @profile.interested_in_females %></h5>
<br />
<hr />
<div class='waves-effect waves-light btn teal lighten-4'><%= link_to 'Edit Profile', edit_user_profile_path %></div>

<div class='waves-effect waves-light btn teal lighten-4'><%= link_to 'Select Interests',profile_interests_path(@profile.id) %></div>

<div class='waves-effect waves-light btn teal lighten-4'><%= link_to 'Go Back', users_path %></div>
<hr />
<div class='waves-effect waves-light btn teal'><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
</div>

  